<div class="sticker">
  <div class="data_sticker">
    <span class="sku_sticker"><%= sticker.variant.sku %></span>
    <span class="price_sticker"><%= sticker.variant.display_price %></span>
  </div>
  <div class="data_image">
    <img src="<%= sticker.barcode_path %>" height="40" width="132"/>
  </div>
</div>
