<% count = 0 %>
<% @stickers.each do |sticker| %>
  <% sticker.times.each do %>
    <% mod = count % 40; %>

    <% if mod == 0 %>
      <div class="page">
    <% end %>

    <%= render partial: 'barcode_sticker', locals: { sticker: sticker } %>

    <% if mod == 39 %>
      </div>
    <% end %>

    <% count += 1 %>
  <% end %>
<% end %>
</div>
