/* margin print */

@page{
   margin: 0;
}

/* css sticker */

body, div {
  margin: 0 !important;
  padding: 0 !important;
}

.page {
  width: 210mm;
  overflow: hidden;
  font-family: 'Oswald';
  font-size: 0.8em;
} 

.data_sticker {
  overflow: hidden;
}

div.sticker {
  width: 4.24cm;
  height: 1.95cm !important;
  margin-right: 1cm !important;
  margin-bottom: 1cm !important;
  float: left;
  overflow: hidden;
  &:nth-child(4n+4) {
    margin-right: 0 !important;
  }
  &:nth-child(37),  &:nth-child(38),  &:nth-child(39),  &:nth-child(40) {
    margin-bottom: 0 !important;
  }
}

img {
  width: 100%; 
  height: auto !important;
}

.name_sticker, .sku_sticker, .price_sticker {
  width: 33%;
  display: block;
  float: left;
}

.sku_sticker {
  font-weight: 300;
  opacity: 0.7;
}

.price_sticker {
  text-align: right;
}

.profiler-results {
  display: none !important;
}

/*
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
}
.subpage {
  padding: 1cm;
  height: 256mm;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }

  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
*/
